@model Project.Models.Componentes

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Componentes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntIdAlmacen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntIdAlmacen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DecCantidadBase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DecCantidadBase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DecCantidadRequerida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DecCantidadRequerida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DecCantidadAdicional)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DecCantidadAdicional)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DecCantidadConsumida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DecCantidadConsumida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtFechaEstimada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtFechaEstimada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtFechaEfectiva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtFechaEfectiva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtFechaInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtFechaInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtFechaFinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtFechaFinal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntIdEstadoComponente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntIdEstadoComponente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtFecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtFecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrCodigoMaterial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrCodigoMaterial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrNumeroOrden)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrNumeroOrden)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntIdUnidadMedida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntIdUnidadMedida)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IntIdComponente" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
