@model Project.Models.UnidadMedida

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UnidadMedida</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrSimbolo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrSimbolo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FltFactor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FltFactor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FltPrecision)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FltPrecision)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FltConversion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FltConversion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntDecimales)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntDecimales)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BitActivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BitActivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtFecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtFecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntIdTipoUnidadMedida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntIdTipoUnidadMedida)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IntIdUnidadMedida">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
