@model IEnumerable<Project.Models.CentrosTrabajos>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IntIdInterlocutorComercial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IntIdCategoriaCentro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DecCosto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IntIdBodega)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IntIdMetodoCosteo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IntIdInterlocutorComercial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntIdCategoriaCentro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DecCosto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntIdBodega)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntIdMetodoCosteo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IntIdCentroDeTrabajo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IntIdCentroDeTrabajo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IntIdCentroDeTrabajo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
