@model Project.Models.InterlocutoresComerciales

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>InterlocutoresComerciales</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrCodigoInterlocutor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrCodigoInterlocutor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrNumeroIdentificacionFinanciera)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrNumeroIdentificacionFinanciera)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrNombreInterlocutor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrNombreInterlocutor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrTelefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrTelefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrCelular)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrCelular)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrFax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrFax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtFecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtFecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntIdGrupoInterlocutor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntIdGrupoInterlocutor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntIdTipoInterlocutor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntIdTipoInterlocutor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IntIdInterlocutorComercial">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
