@model Project.Models.Zonas

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Zonas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrDescripcionZona)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrDescripcionZona)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BitTransitoDirecto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BitTransitoDirecto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BitPicking)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BitPicking)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BitUbicacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BitUbicacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BitDespacho)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BitDespacho)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BitRecepcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BitRecepcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BitActivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BitActivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtFecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtFecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntIdBodega)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntIdBodega)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="StrCodigoZona" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
