@model IEnumerable<Project.Models.MmTmcCaracteristica>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IntIdTipoMaterialCaracteristica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StrTipoMaterial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StrDescripcionTipoMaterialCaracteristica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IntTipoDato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StrReglaValidacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BitVisibleDetalle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IntOrdenDetall)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StrUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DtFecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IntIdTipoMaterial)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IntIdTipoMaterialCaracteristica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StrTipoMaterial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StrDescripcionTipoMaterialCaracteristica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntTipoDato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StrReglaValidacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BitVisibleDetalle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntOrdenDetall)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StrUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtFecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntIdTipoMaterial)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IntIdMmTmcCaracteristica">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IntIdMmTmcCaracteristica">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IntIdMmTmcCaracteristica">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
