@model Project.Models.CondicionesPagos

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CondicionesPagos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrNombreCondicion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrNombreCondicion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrDescripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrDescripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BitDeudor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BitDeudor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BitAcreedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BitAcreedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntDiiaFijo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntDiiaFijo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntMesesAdicionales)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntMesesAdicionales)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntDiasTolerancia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntDiasTolerancia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntNumeroPlazos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntNumeroPlazos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FltDescuentoTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FltDescuentoTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FltInteresCredito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FltInteresCredito)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DecHaberMaximo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DecHaberMaximo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtFecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtFecha)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IntIdCondicionPago" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
