@model Project.Models.MaterialesCostosPromedios

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MaterialesCostosPromedios</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DecCostoPromedio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DecCostoPromedio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtFechaInicial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtFechaInicial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtFechaFinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtFechaFinal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtFecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtFecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntIdMaterial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntIdMaterial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrCodigoMaterial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrCodigoMaterial)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IntIdMaterialCostoPromedio" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
