@model IEnumerable<Project.Models.MaterialesDatosCompra>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StrCodigoMaterialCompra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BitAutomaticPurchase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BitGestionLotes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DecToleranciaEntregaInferior)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DecToleranciaEntregaSuperior)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IntDiasEntrega)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BitRequiereInspeccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StrUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DtFecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IntIdMaterial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IntIdInterlocutor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StrCodigoMaterial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IntIdUnidadMedidaBase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IntIdUnidadMedidaCompra)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StrCodigoMaterialCompra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BitAutomaticPurchase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BitGestionLotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DecToleranciaEntregaInferior)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DecToleranciaEntregaSuperior)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntDiasEntrega)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BitRequiereInspeccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StrUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtFecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntIdMaterial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntIdInterlocutor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StrCodigoMaterial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntIdUnidadMedidaBase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntIdUnidadMedidaCompra)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IntIdMaterialDatoCompra">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IntIdMaterialDatoCompra">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IntIdMaterialDatoCompra">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
