@model Project.Models.EstadosSaldos

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EstadosSaldos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrDescripcionEstadoSaldo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrDescripcionEstadoSaldo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrCodigoColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrCodigoColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BitEstaEnReposicion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BitEstaEnReposicion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtFecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtFecha)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IntIdEstadoSaldo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
