@model Project.Models.Agentes

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Agentes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntIdEntidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntIdEntidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntIdAlmacen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntIdAlmacen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrObservaciones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrObservaciones)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtFecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtFecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntIdSociedad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntIdSociedad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntIdTipoAgente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntIdTipoAgente)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IntIdAgente">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
