@model Project.Models.Cotizacion

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Cotizacion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntCabecera)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntCabecera)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntIdProveedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntIdProveedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrEstado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrEstado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntCodigoMaterial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntCodigoMaterial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrDescripcionMaterial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrDescripcionMaterial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrNombreProveedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrNombreProveedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrBuzonProveedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrBuzonProveedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DblCantidadRequerida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DblCantidadRequerida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DblCantidadCotizada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DblCantidadCotizada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DblValorCotizado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DblValorCotizado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DblDescuento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DblDescuento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtFechaNecesaria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtFechaNecesaria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtFechaEntrega)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtFechaEntrega)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtFechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtFechaCreacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntIdPlanCompra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntIdPlanCompra)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IntIdCotizacion" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
