@model Project.Models.Remisiones

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Remisiones</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrNumeroGuia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrNumeroGuia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtFechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtFechaCreacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtFechaRecepcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtFechaRecepcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntConcecutivoInterno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntConcecutivoInterno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtFecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtFecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntIdAgenteDestino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntIdAgenteDestino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntIdAgenteOrigen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntIdAgenteOrigen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntIdEstadoRemision)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntIdEstadoRemision)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IntIdRemision">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
