@model Project.Models.MaterialesCaracteristicas

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MaterialesCaracteristicas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrValorCaracteristica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrValorCaracteristica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtFecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtFecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrCodigoMaterial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrCodigoMaterial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntIdMaterial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntIdMaterial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntIdTipoMaterialCaracteristica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntIdTipoMaterialCaracteristica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntIdTipoMaterial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntIdTipoMaterial)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IntIdMaterialCaracteristica">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
