@model IEnumerable<Project.Models.MaterialesCaracteristicas>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StrValorCaracteristica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StrUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DtFecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StrCodigoMaterial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IntIdMaterial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IntIdTipoMaterialCaracteristica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IntIdTipoMaterial)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StrValorCaracteristica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StrUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtFecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StrCodigoMaterial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntIdMaterial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntIdTipoMaterialCaracteristica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntIdTipoMaterial)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IntIdMaterialCaracteristica">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IntIdMaterialCaracteristica">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IntIdMaterialCaracteristica">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
