@model Project.Models.OrdenDeTrabajo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OrdenDeTrabajo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntIdOperacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntIdOperacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntIdEstadoOT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntIdEstadoOT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntIdCentroTrabajo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntIdCentroTrabajo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrNumeroOrden)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrNumeroOrden)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IntIdOrdenTrabajo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
