@model Project.Models.MovimientosDetalles

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MovimientosDetalles</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DecValorUnitario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DecValorUnitario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DecSobreCosto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DecSobreCosto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DecCantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DecCantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtFecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtFecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntIdEstadoSaldo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntIdEstadoSaldo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrCodigoProducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrCodigoProducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrNumeroDocumento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrNumeroDocumento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IntIdMovimientoDetalle">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
