@model Project.Models.Materiales

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Materiales</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrCodigoMaterial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrCodigoMaterial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrReferencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrReferencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BitGeneraRecibo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BitGeneraRecibo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BitVentaApartado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BitVentaApartado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BitPermiteDevolucion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BitPermiteDevolucion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrSimbolo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrSimbolo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FltValorUnitario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FltValorUnitario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FltCosto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FltCosto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BitConsumible)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BitConsumible)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BitProducible)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BitProducible)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BitComprable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BitComprable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BitVendible)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BitVendible)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BitActivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BitActivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtFecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtFecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntIdTiposMateriales)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntIdTiposMateriales)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IntIdMaterial">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
