@model Project.Models.Consecutivos

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Consecutivos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrResolucion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrResolucion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntValorInicial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntValorInicial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntValorFinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntValorFinal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntIncremento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntIncremento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntValorActual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntValorActual)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrCaracterLlenado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrCaracterLlenado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtFechaInicial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtFechaInicial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtFechaFinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtFechaFinal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrSufijo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrSufijo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrPrefijo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrPrefijo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BitHabilitado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BitHabilitado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtFecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtFecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntIdTipoDocumento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntIdTipoDocumento)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IntIdConsecutivo" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
