@model Project.Models.InterlocutoresCondicionPago

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>InterlocutoresCondicionPago</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrNombreCondicion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrNombreCondicion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FltInteresMora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FltInteresMora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FltDescuentoTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FltDescuentoTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DecCupoCredito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DecCupoCredito)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrNumeroCuenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrNumeroCuenta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrSucursal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrSucursal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrClaveControl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrClaveControl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BitEntregaParcial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BitEntregaParcial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtFecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtFecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntIdCondicionPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntIdCondicionPago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntIdInterlocutor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntIdInterlocutor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntIdListaPrecio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntIdListaPrecio)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IntIdInterlocutorCondicionPago">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
