@model IEnumerable<Project.Models.TipoInterlocutorComercial>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StrTipoInterlocutor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StrDescripcionTipoInterlocutor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StrUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DtFecha)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StrTipoInterlocutor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StrDescripcionTipoInterlocutor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StrUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtFecha)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IntIdTipoInterlocutorComercial">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IntIdTipoInterlocutorComercial">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IntIdTipoInterlocutorComercial">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
