@model Project.Models.Ubicaciones

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ubicaciones</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrCodigoUbicacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrCodigoUbicacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrDescripcionUbicacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrDescripcionUbicacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BitDedicado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BitDedicado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BitActivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BitActivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtFecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtFecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrCodigoZona)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrCodigoZona)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IntIdUbicacion">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
