@model Project.Models.InterlocutorFinanzas

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>InterlocutorFinanzas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BitImpuesto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BitImpuesto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BitSujetoRetencion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BitSujetoRetencion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrNumeroCertificadoRetencion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrNumeroCertificadoRetencion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtFechaVencimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtFechaVencimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrNumeroAfiliacionSeguridad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrNumeroAfiliacionSeguridad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtFecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtFecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntIdInterlocutor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntIdInterlocutor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IntIdInterlocutorFinanzas">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
