@model Project.Models.Localizaciones

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Localizaciones</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrNombreLocalizacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrNombreLocalizacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrDireccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrDireccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrCodigoPostal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrCodigoPostal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrPoBox)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrPoBox)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrCiudad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrCiudad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrPais)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrPais)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrRegion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrRegion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrTelefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrTelefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrCelular)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrCelular)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrFax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrFax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtFecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtFecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntIdInterlocutor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntIdInterlocutor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntIdBodega)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntIdBodega)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IntIdLocalizacion">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
