@model Project.Models.RemisionesVenta

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RemisionesVenta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtFechaContabilizacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtFechaContabilizacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtFechaValidez)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtFechaValidez)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtFechaDocumento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtFechaDocumento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtFechaNecesaria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtFechaNecesaria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrNumeroReferencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrNumeroReferencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DecTotalBruto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DecTotalBruto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DblPorcentajeDescuento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DblPorcentajeDescuento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DblPorcentajeImpuesto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DblPorcentajeImpuesto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DecValorTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DecValorTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrComentarios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrComentarios)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtFecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtFecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntIdInterlocutor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntIdInterlocutor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntIdRemision)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntIdRemision)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntIdTipoDocumento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntIdTipoDocumento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntListaPrecio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntListaPrecio)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="StrNumeroDocumento" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
