@model IEnumerable<Project.Models.Remisiones>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StrNumeroGuia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DtFechaCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DtFechaRecepcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IntConcecutivoInterno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StrUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DtFecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IntIdAgenteDestino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IntIdAgenteOrigen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IntIdEstadoRemision)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StrNumeroGuia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtFechaCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtFechaRecepcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntConcecutivoInterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StrUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtFecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntIdAgenteDestino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntIdAgenteOrigen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntIdEstadoRemision)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IntIdRemision">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IntIdRemision">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IntIdRemision">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
