@model Project.Models.Conceptos

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Conceptos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrDescripcionConcepto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrDescripcionConcepto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BitReposicion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BitReposicion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BitActivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BitActivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtFecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtFecha)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IntIdConcepto">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
